*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Rider
.idea/

# Visual Studio
.vs/

# Fleet
.fleet/

# Code Rush
.cr/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
.obj/
obj/Debug/net8.0/AsaBloggerApi.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/AsaBloggerApi.csproj.AssemblyReference.cache
obj/Debug/net8.0/AsaBloggerApi.assets.cache
obj/Debug/net8.0/AsaBloggerApi.AssemblyInfoInputs.cache
obj/Debug/net8.0/AsaBloggerApi.AssemblyInfo.cs
obj/project.nuget.cache
obj/project.assets.json
obj/AsaBloggerApi.csproj.nuget.g.targets
obj/AsaBloggerApi.csproj.nuget.g.props
obj/AsaBloggerApi.csproj.nuget.dgspec.json
